## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df=pd.read_csv('../Weather_Database/weatherPy_Database.csv')
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avera,US,33.1940,-82.5271,93.54,32,38,11.01,scattered clouds
1,1,Luderitz,NaN,-26.6481,15.1594,55.69,79,1,12.19,clear sky
2,2,Hermanus,ZA,-34.4187,19.2345,57.61,57,3,6.11,clear sky
3,3,Cidreira,BR,-30.1811,-50.2056,61.18,77,53,12.03,broken clouds
4,4,Bambous Virieux,MU,-20.3428,57.7575,72.21,76,89,12.95,overcast clouds
5,5,Sept-Iles,CA,50.2001,-66.3821,49.35,60,64,10.85,broken clouds
6,6,Souillac,MU,-20.5167,57.5167,73.17,80,29,10.20,scattered clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.94,62,20,9.04,few clouds
8,8,Jamestown,US,42.0970,-79.2353,66.02,75,100,13.80,overcast clouds
9,9,Albany,US,42.6001,-73.9662,59.27,88,100,6.53,overcast clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 85

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Atuona,PF,-9.8000,-139.0333,77.94,62,20,9.04,few clouds
11,11,Gorontalo,ID,0.5412,123.0595,75.31,96,43,2.10,scattered clouds
15,15,Rikitea,PF,-23.1203,-134.9692,76.37,78,80,12.28,light rain
17,17,Butaritari,KI,3.0707,172.7902,81.27,69,100,13.71,overcast clouds
18,18,Sibolga,ID,1.7427,98.7792,77.02,89,26,3.15,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
627,627,Mlonggo,ID,-6.5333,110.7000,77.20,81,61,3.65,broken clouds
640,640,Dakar,SN,14.6937,-17.4441,79.68,78,0,16.11,clear sky
648,648,Alugan,PH,12.2188,125.4808,79.92,84,100,9.40,overcast clouds
657,657,Kazerun,IR,29.6195,51.6541,80.42,10,0,3.44,clear sky
677,677,Quatre Cocos,MU,-20.2078,57.7625,75.31,77,87,13.85,overcast clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Atuona,PF,-9.8000,-139.0333,77.94,62,20,9.04,few clouds
11,11,Gorontalo,ID,0.5412,123.0595,75.31,96,43,2.10,scattered clouds
15,15,Rikitea,PF,-23.1203,-134.9692,76.37,78,80,12.28,light rain
17,17,Butaritari,KI,3.0707,172.7902,81.27,69,100,13.71,overcast clouds
18,18,Sibolga,ID,1.7427,98.7792,77.02,89,26,3.15,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
627,627,Mlonggo,ID,-6.5333,110.7000,77.20,81,61,3.65,broken clouds
640,640,Dakar,SN,14.6937,-17.4441,79.68,78,0,16.11,clear sky
648,648,Alugan,PH,12.2188,125.4808,79.92,84,100,9.40,overcast clouds
657,657,Kazerun,IR,29.6195,51.6541,80.42,10,0,3.44,clear sky
677,677,Quatre Cocos,MU,-20.2078,57.7625,75.31,77,87,13.85,overcast clouds

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Atuona,PF,77.94,few clouds,-9.8000,-139.0333,
11,Gorontalo,ID,75.31,scattered clouds,0.5412,123.0595,
15,Rikitea,PF,76.37,light rain,-23.1203,-134.9692,
17,Butaritari,KI,81.27,overcast clouds,3.0707,172.7902,
18,Sibolga,ID,77.02,scattered clouds,1.7427,98.7792,
20,Sao Filipe,CV,77.11,few clouds,14.8961,-24.4956,
22,Kinshasa,CD,76.84,broken clouds,-4.3246,15.3215,
26,Wattegama,LK,77.67,overcast clouds,6.7989,81.4808,
32,Nouakchott,MR,76.93,scattered clouds,18.0858,-15.9785,
36,Emporia,US,82.60,clear sky,38.4039,-96.1817,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [18]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Atuona,PF,77.94,few clouds,-9.8000,-139.0333,Villa Enata
11,Gorontalo,ID,75.31,scattered clouds,0.5412,123.0595,Maqna Hotel by Prasanthi
15,Rikitea,PF,76.37,light rain,-23.1203,-134.9692,People ThankYou
17,Butaritari,KI,81.27,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
18,Sibolga,ID,77.02,scattered clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
...,...,...,...,...,...,...,...
627,Mlonggo,ID,77.20,broken clouds,-6.5333,110.7000,Asia Metal Art
640,Dakar,SN,79.68,clear sky,14.6937,-17.4441,Novotel Dakar
648,Alugan,PH,79.92,overcast clouds,12.2188,125.4808,JM Lodge
657,Kazerun,IR,80.42,clear sky,29.6195,51.6541,آپارتمان بزرگ اویسا
677,Quatre Cocos,MU,75.31,overcast clouds,-20.2078,57.7625,Sunrise Attitude Hotel

In [19]:
# 8a. Create the output File (CSV)
output_data_file='WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))